body
{
	margin:0;
	padding:0;
	height:100%; 
}
#header
{
	width:100%;
	height:50px;
	border:1px solid black;
	position:fixed;
	left:0;
	right:0;
	background-color:#0000ff;
    font-size:20px;	
}
#header li
{
	margin-right:42px;
    margin-top:6px	
}
#header input
{
	padding:8px 36px;
	outline:none;
	border-radius:16px
}
#left
{   
    margin-top:70px;
	width:650px;
    height:	100%;
	margin-left:100px;
	float:left;
}
#right
{
	margin-top:70px;
	width:300px;
	height:100%;
	margin-left:20px;
	float:left;
    border:1px solid black;
	position:relative;
}
#right span
{ 
   float:right;
   font-size:10px;
}
#p1
{   
    width:250px;
	height:100px;
	background-color:#EFEFEF;
	margin-left:10px;
}
#p1 span
{ 
    font-size:25px;
}